<header>
	<nav class="navbar navbar-default navbar-static-top  restrict">
		<div class="container restrict">
            <a href="#/dashboard" ng-show="!user.isSuperAdmin">
                <img src="images/knight-frank-logo.png" alt="Knight Frank" style="max-height:50px"/>
            </a>
            <a href="#/admin" ng-show="user.isSuperAdmin">
                <img src="images/knight-frank-logo.png" alt="Knight Frank" style="max-height:50px"/>
            </a>
            <div class="nav-menu">
                <ul>
                    <li ng-show="user.isCM"><a href="#/dashboard">Dashboard</a></li>
                    <li ng-show="user.isBUH"><a href="#/projects">Projects</a></li>
                    <li ng-show="user.isAdmin"><a href="#/staff">Staff</a></li>
                    <li class="selected" ng-show="user.isAdmin"><a href="#/facilities">Checklists</a></li>
                    <li ng-show="user.isSuperAdmin"><a href="#/admin">Admin</a></li>
                </ul>
            </div>
            <div class="profile" id="profile">
                Hello
                <a href="#/edit-profile">
                    <span class="profile-link">{{user.showName}}</span>
                </a>
                <button class="btn btn-default logout-btn" style="margin-top:-5px;" type="button" ng-click="logout()">
                    Log Out
                </button>
            </div>
		</div>
	</nav>
</header>

<div class="add-facility container ">
	<h3 class="title">Add Facility</h3>
    <form class="form-horizontal">
        <div class="row">
            <label class="control-label col-md-2">Name</label>
            <div class="col-md-6" ng-class="{'has-error': facilityNameEmpty}">
                <input type="text" ng-model="name" class="form-control" placeholder="Enter facility name" required/>
                <span ng-show="facilityNameEmpty" class="help-block margin-bottom-0">
                    Facility name is required.
                </span>
            </div>
        </div>
        <div class="row margin-top-25">
        	<label class="control-label col-md-2">Photo</label>
            <div class="col-md-6" ng-class="{'has-error': facilityPhotoEmpty}">
            	<div ngf-drop ngf-select ng-model="photo" class="dropbox col-md-12" 
                	ngf-drag-over-class="dragover" ngf-multiple="false" ngf-allow-dir="true" 
                    accept="image/*" ngf-pattern="image/*" ngf-validate="size:{max: '5MB'}">
                	Drag facility photo here or click here to upload<br/>
                    (Max file size is 5MB)<br/><br/>
                    {{photoStatus}}<br/>
                    {{photoProgress}}
           		</div>
                <div ngf-no-file-drop>File drag and drop is not supported for this browser</div>
            </div>
            <div class="col-md-4 force-col-padding">
                <img ngf-src="photo" ngf-resize="{width: 250, height: 250}" ngf-no-object-url="false"
                     style="max-width:250px;max-height:250px"/>
            </div>
            <div class="col-md-offset-2 col-md-10 has-error" ng-show="facilityPhotoEmpty">
                <span class="help-block margin-bottom-0">Facility photo is required.</span>
            </div>
        </div>
        <div class="row margin-top-25">
        	<label class="control-label col-md-2">Checklist</label>
            <div class="col-md-6">
            	<div ng-class="{'category-group-error': c.error}" class="category-group-without-padding" ng-repeat="c in checklist">
                	<div class="category-group-title">
                        <span class="group-addon">{{c.no}}.</span>
                        <input type="text" class="form-control group-input" ng-model="c.name"
                        	placeholder="Enter category name" required>
                        <span class="glyphicon glyphicon-remove group-delete" aria-hidden="true"
                        	ng-click="deleteCategory(c)"></span>
                    </div>
                    <div ng-repeat="q in c.question">
                        <div class="question-group col-md-9 force-col-padding">
                            <span class="group-addon">{{q.no}}.</span>
                            <input type="text" class="form-control group-input" ng-model="q.name"
                                placeholder="Enter question name" required>
                            <span class="glyphicon glyphicon-remove group-delete" aria-hidden="true"
                            	ng-click="deleteQuestion(c,q)"></span>
                        </div>
                        <div class="question-radio col-md-2 force-col-padding">
                            <div class="radio radio-first">
                                <label><input type="radio" value="MCQ" ng-model="q.type"
                                	name="questionType-{{c.formID}}-{{q.formID}}">MCQ</label>
                            </div>
                            <div class="radio radio-last">
                                <label><input type="radio" value="Short Answer" ng-model="q.type"
                                	name="questionType-{{c.formID}}-{{q.formID}}">Short Ans</label>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-default add-question-btn-with-margin" type="button" ng-click="addQuestion(c)">
                    	<span class="glyphicon glyphicon-plus button-icon" aria-hidden="true"></span>
                        Add Question
                    </button>
                    <div class="has-error category-error" ng-show="c.error">
                        <span class="help-block">Category or question name is required.</span>
                    </div>
            	</div>
                <button class="btn btn-default" type="button" ng-click="addCategory()">
                    <span class="glyphicon glyphicon-plus button-icon" aria-hidden="true"></span>
                    Add Category
                </button>
            </div>
        </div>
        <div class="row margin-top-25 margin-bottom-50">
        	<div class="col-md-offset-2 col-md-10">
                <button class="btn btn-primary" type="button" ng-click="goToFacilities()">
                    <span class="glyphicon glyphicon-remove button-icon" aria-hidden="true"></span>
                    Cancel
                </button>
                <button class="btn btn-success" type="submit" ng-click="validateAddForm()" ng-disabled="btnValidate">
                    <span class="glyphicon glyphicon-plus button-icon" aria-hidden="true"></span>
                    Add
                </button>
            </div>
        </div>
    </form>
</div>