<header>
	<nav class="navbar navbar-default navbar-static-top">
		<div class="container">
			<img src="images/knight-frank-logo.png" alt="Knight Frank" style="max-height:50px"/>
			<div class="nav-menu">
				<ul>
					<li class="selected"><a href="#/dashboard">Dashboard</a></li>
 					<li><a href="#/projects">Projects</a></li>
					<li><a href="#/staff">Staff</a></li>
					<li><a href="#/facilities">Facilities</a></li>
				</ul>
			</div>
			<div class="profile" id="profile">
			</div>
		</div>
	</nav>
</header>

<div class="dashboard container">
	<h3 class="title">Dashboard</h3>
    <div class="search">
    	
    </div>
</div>