<header>
	<nav class="navbar navbar-default navbar-static-top">
		<div class="container">
			<a href="#/dashboard">
            	<img src="images/knight-frank-logo.png" alt="Knight Frank" style="max-height:50px"/>
            </a>
			<div class="nav-menu">
				<ul>
					<li><a href="#/dashboard">Dashboard</a></li>
 					<li><a href="#/projects">Projects</a></li>
					<li><a href="#/staff">Staff</a></li>
					<li class="selected"><a href="#/facilities">Facilities</a></li>
				</ul>
			</div>
			<div class="profile" id="profile">
			</div>
		</div>
	</nav>
</header>

<div class="facilities container">
	<h3 class="title">Facilities</h3>
    <div class="row">
    	<div class="col-md-12">
            <button type="button" class="btn btn-success pull-left" ng-click="goToAddFacility()">
                <span class="glyphicon glyphicon-plus button-icon" aria-hidden="true"></span>
                Add
            </button>
            <div class="pull-left col-md-4 force-col-margin force-col-padding input-group">
                <input type="text" class="form-control" placeholder="Search for...">
                <div class="input-group-btn">
                    <button class="btn btn-primary" type="button">
                        <span class="glyphicon glyphicon-search button-icon" aria-hidden="true"></span>
                        Search
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="margin-top-25 margin-bottom-30 facility-list">
    	<ul>
        	<li ng-repeat="f in facilitiesList">
                <div>
                	<img ng-src="{{f.PhotoURL}}"/>
                    {{f.Name}}
                </div>
            </li>
      	</ul>
    </div>
</div>