<div class="login">
	<header>
		<img src="images/knight-frank-logo.png" alt="Knight Frank"/>
	</header>
	<div class="popup">
		<h3>Reset Password</h3>
		<div class="content">
			<form name="myForm">
				<input ng-model="staffID" type="text" class="input-text" id="staffID" placeholder="Staff ID or Email" required/>
				<div class="has-error" ng-show="staffIDError!=null">{{staffIDError}}</div>
				<div class="no-error" ng-show="staffIDError==null">&nbsp;</div>
				<div class="row">
					<div class="col-md-6">
						<input type="button" class="btn btn-info forget-btn" value="Cancel" ng-click="goToLogin()"/>
					</div>
					<div class="col-md-6">
						<input type="submit" class="btn btn-info forget-btn" value="Reset" ng-click="forgetPassword()" ng-disabled="btnClicked"/>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>