<div class="forget-password">
	<header>
		<img src="images/knight-frank-logo.png" alt="Knight Frank"/>
	</header>
	<div class="forget-popup">
		<h3>Reset Password</h3>
		<div class="content">
			<form id="myForm">
				<input ng-model="staffID" type="text" class="input-text" id="staffID" placeholder="Staff ID or Email" required/>
				<div class="error-message" ng-show="staffIDErrorMessage!=null">{{staffIDErrorMessage}}</div>
				<div class="error-empty" ng-show="staffIDErrorMessage==null">&nbsp;</div>
				<div class="row">
					<div class="col-md-6">
						<input type="button" class="btn btn-info forget-btn" value="Cancel" ng-click="goToLogin()"/>
					</div>
					<div class="col-md-6">
						<input type="submit" class="btn btn-info forget-btn" value="Reset" ng-click="forgetPassword()"/>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>