<div class="login">
	<header>
    	<img src="images/knight-frank-logo.png" alt="Knight Frank"/>
	</header>
	<div class="login-popup">
		<h3>Admin Login</h3>
		<div class="content">
			<input id="email-input" type="text" class="input-text" placeholder="Email"/>
			<input id="password-input" type="password" class="input-text" placeholder="Password"/>
			<div class="forget">
				<a id="forget-btn"><u>Forget Password?</u></a>
			</div>
			<input type="button" class="btn btn-info login-btn" value="Log In" id="login-btn"/>
		</div>
	</div>
</div>