<header>
	<nav class="navbar navbar-default navbar-static-top">
		<div class="container">
			<a href="#/dashboard">
            	<img src="images/knight-frank-logo.png" alt="Knight Frank" style="max-height:50px"/>
            </a>
			<div class="nav-menu">
				<ul>
					<li><a href="#/dashboard">Dashboard</a></li>
 					<li><a href="#/projects">Projects</a></li>
					<li class="selected"><a href="#/staff">Staff</a></li>
					<li><a href="#/facilities">Facilities</a></li>
				</ul>
			</div>
			<div class="profile" id="profile">
                Hello {{user.name}}
                <button class="logout-btn" type="button" ng-click="logout()">
                    Log Out
                </button>
			</div>
		</div>
	</nav>
</header>

<div class="staff container">
	<h3 class="title">Staff</h3>
    
</div>