/* CSS document */

/* General - Checklist */
.category-group {
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.category-group-title {
    display: table;
    border-bottom: 1px solid #ccc;
    /* extra */
    position: relative;
    border-collapse: separate;
}
.group-addon {
    padding: 6px 12px;
    font-weight: 400;
    line-height: 1;
    text-align: center;
    background-color: #eee;
    display: table-cell;
    width: 1%;
    vertical-align: middle;
    /* extra */
    white-space: nowrap;
}
.group-input {
    border-top: 0;
    border-bottom: 0;
    border-radius: 0;
}
.group-delete {
    padding: 6px 12px;
    font-weight: 400;
    line-height: 1;
    text-align: center;
    display: table-cell;
    width: 1%;
    vertical-align: middle;
    top: 0;
    cursor: pointer;
    /* extra */
    white-space: nowrap;
}
.question-group {
	border: 1px solid #ccc;
	border-radius: 4px;
	margin: 10px 10px 0 10px;
    display: table;
	/* extra */
	position: relative;
    border-collapse: separate;
}
.add-question-btn {
	margin: 8px 0 0 10px;
}
.question-radio {
	font-size: 14px;
}
.question-radio .radio-first {
	min-height: 0;
	padding-top: 8px;
}
.question-radio .radio-last {
	min-height: 0;
	padding-top: 0;
}

/* General - Photo Upload */
.dropbox {
    background: #f8f8f8;
    border: 5px dashed #ddd;
    height: 250px;
    text-align: center;
    padding-top: 105px;
}
.dragover {
    border: 5px dashed #ddd;
}

/* General - Font */
html, body {	
	font-family: "Open Sans", sans-serif;
	height: 100%;
	width: 100%;
}

/* General - Navigation */
.navbar {
	height: 90px;
	margin-bottom: 10px;
}
.navbar a {
	color: black;	
	text-decoration: none;
}
.navbar .container {
	margin-top: 20px;
}
.navbar .nav-menu {
	display: inline;
	position: absolute;
	margin-top: 18px;
	margin-left: 20px;
}
.navbar .nav-menu li {
	display: inline;
	margin-right: 50px;
	font-size: 16px;
}
.navbar .nav-menu li:hover {
	border-bottom: 2px solid #fa143a;
}
.navbar .nav-menu .selected {
	border-bottom: 2px solid #fa143a;
}
.navbar .profile {
	float: right;
	margin-top: 18px;
}

/* General - Body */
.title {
	color: #fa143a;
	font-weight: 600;
	display: inline-block;
	margin-bottom: 20px;
	font-size: 22px;
}
.search { /* edit */
	
}
.button-icon {
	padding-right: 5px;
}
.force-col-margin {
	margin-left: 15px;
	margin-right: 0px;
}
.force-col-padding {
	padding-left: 0px;
	padding-right: 0px
}
.force-row-margin {
	margin-left: 0px;
	margin-rgiht: 0px;
}
.dropdown-text-left {
	text-align: left;
	display: inline-block;
	min-width: 120px;
}
.dropdown-text-right {
	text-align: right;
	display: inline-block;
}
.margin-right-15 {
	margin-right: 15px;
}
.margin-top-25 {
	margin-top: 25px;
}
.margin-top-10 {
	margin-top: 10px;
}
.margin-bottom-50 {
	margin-bottom: 50px;
}
.margin-bottom-30 {
	margin-bottom: 30px;
}

/* Projects - Dropdown */ /* edit */
.projects .dropdown-style {
	display: inline-block;
	min-width: 160px;
	max-width: 160px;
}

/* Dashboard - Body */ /* edit */
.dashboard .search {
	float: right;
	margin-top: 20px;
}

/* Facilities */
.facility-list ul {
	padding-left: 0;
	margin-bottom: 0;	
}
.facility-list li {
	display: inline;
	margin-right: 31.3px;
}
.facility-list img {
	height: 200px;
	width: 200px;
	overflow: hidden;
	margin-bottom: 7px;
}
.facility-list div {
	padding-bottom: 7px;
	max-width: 200px;
	display: inline-block;
	margin-bottom: 20px;
	text-align: center;
	border: 1px solid black;
    border-radius: 7px;
	overflow: hidden;
	box-shadow: 1px 1px 3px #888888;
}

/* ngFlash */ /* edit */
.alert .ng-leave {
	opacity: 1;
	transition: opacity 1.5s ease-out;
}
.alert .ng-leave .ng-leave-active {
	opacity: 0;
}
.alert .ng-enter {
	opacity: 0;
	transition: opacity 1.5s ease-in;
}
.alert .ng-enter .ng-enter-active {
	opacity: 1;
}

/* Logout */
.logout h2 {
	font-weight: 600;
	font-size: 20pt;
	margin: 20px 0 0 20px;
}

/* Login */
.login, .forget-password { 
	background-image: url('../images/login-background.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	height: 100%;
	width: 100%;
}
.login header, .forget-password header {
	padding-left: 4%;
	padding-top: 3%;
}
.login h3, .forget-password h3 {
	font-weight: 600;
	font-size: 18pt;
	color: white;
    margin: 20px 0 16px 20px;
}
.login a, .forget-password a {
	color: #ff4e00;
	text-decoration: none;
}
.login .login-popup, .forget-password .forget-popup {
	position: fixed;
	background-color: rgba(0,0,0,0.85);
	top: 50%;
	left: 50%;
	width: 450px;
    transform: translate(-50%, -50%);
}
.login .login-popup .content, .forget-password .forget-popup .content {
	margin-left: 75px;
    margin-right: 75px;
	text-align: left;
}
.login .login-popup .input-text, .forget-password .forget-popup .input-text {
	width: 300px;
	height: 35px;
	margin: 20px 0 5px 0;
	background-color: #242424;
	border: 0;
	padding: 1px 10px;
	color: white;
}
.login .login-popup .forget, .forget-password .forget-popup .forget {
	margin-top: 15px;
	color: #ff4e00;
    text-align: center;
}
.login .login-popup .forget u, .forget-password .forget-popup .forget u {
	cursor: pointer;
}
.login .login-popup .login-btn {
	height: 35px;
	width: 300px;
	background-color: #ff4e00;
	border: 0;
	color: white;
    margin: 15px 0 35px 0;
}
.forget-password .forget-popup .forget-btn {
	height: 35px;
	width: 100%;
	background-color: #ff4e00;
	border: 0;
	color: white;
    margin: 20px 0 35px 0;
}
.login .error-message, .forget-password .error-message {
    color: red;
}
.login .error-empty, .forget-password .error-empty {
    color: red;
    margin-top: -10px;
}