/* General - Checklist */
.category-group {
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.category-group-title {
    display: table;
    border-bottom: 1px solid #ccc;
    /* extra */
    position: relative;
    border-collapse: separate;
}
.group-addon {
    padding: 6px 12px;
    font-weight: 400;
    line-height: 1;
    text-align: center;
    background-color: #eee;
    display: table-cell;
    width: 1%;
    vertical-align: middle;
    /* extra */
    white-space: nowrap;
}
.group-input {
    border-top: 0;
    border-bottom: 0;
    border-radius: 0;
}
.group-delete {
    padding: 6px 12px;
    font-weight: 400;
    line-height: 1;
    text-align: center;
    display: table-cell;
    width: 1%;
    vertical-align: middle;
    top: 0;
    cursor: pointer;
    /* extra */
    white-space: nowrap;
}
.question-group {
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 10px 10px 0 10px;
    display: table;
    /* extra */
    position: relative;
    border-collapse: separate;
}
.add-question-btn {
    margin: 8px 0 0 10px;
}
.question-radio {
    font-size: 14px;
}
.question-radio .radio-first {
    min-height: 0;
    padding-top: 8px;
}
.question-radio .radio-last {
    min-height: 0;
    padding-top: 0;
}